@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700;800&display=swap');

:root {
    --primary-color : #075985;
    --secondary-color : #051c29;
    --three-color : #093853;
    --figtree : 'Figtree', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--figtree);
    scroll-behavior: smooth;
    
    
}

.main-hero {
    max-width: 100%;
    background: radial-gradient(90.87% 36.33% at -2.85% -2.27%, rgba(103, 232, 249, 0.3) 0%, rgba(6, 182, 212, 0) 100%),
        linear-gradient(180deg, #C7FCFF 0%, #C7FCFF 70%, rgba(236, 254, 255, 0) 100%);
    background-position: center bottom;
    z-index: 2;
    position: relative;
    /* overflow: hidden; */
}


.hero-text {
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    background-image: url(assets/Vector.png);
    background-size: 85%;
}

.container-hero {
    padding: 211px 100px 100px;
}


.user-hero {
    font-size: 50px;
    font-weight: 700;
    color: var(--primary-color);
    font-style: normal;
    letter-spacing: -0.04em;
    padding-bottom: 5px;
}

.hero-description {
    top: 221px;
    left: 221px;
    width: 100%;
    height: 280px;
    font-style: normal;
    font-size: 84px;
    line-height: 100px;
    letter-spacing: -0.05em;
    font-weight: 700;
    color: #294049;
}

.gelombang {
    margin-left: 87px;
}

.rectangle {
    margin: 60px -36px;
    position: absolute;
    z-index: -1;
    width: 240px;
    height: 63px;
    left: 187.7px;
    top: 236.02px;
    background: linear-gradient(85.27deg, #57E9F9 0.78%, rgba(165, 243, 252, 1) 123.9%);
    transform: rotate(-2.19deg);
}

.hero-text .experience {
    margin-left: 100px;
    font-size: 36px;
    font-weight: 400;
    color: var(--primary-color);
}

.project {
    font-size: 64px;
    color: var(--three-color);
}

.paragraf-project {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 24px;
}

.container-2 {
    padding: 211px 100px 100px;
}

.container-card {
    width: 100%;
    height: 1400px;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(131deg, rgba(2, 132, 199, 0.10) 0%, rgba(236, 254, 255, 0.00) 100%), linear-gradient(310deg, rgba(2, 132, 199, 0.20) 0%, rgba(236, 254, 255, 0.00) 100%), #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.02), 2px 3px 7px 0px rgba(0, 0, 0, 0.02), 7px 11px 13px 0px rgba(0, 0, 0, 0.02), 15px 24px 17px 0px rgba(0, 0, 0, 0.01), 27px 43px 20px 0px rgba(0, 0, 0, 0.00), 42px 67px 22px 0px rgba(0, 0, 0, 0.00);
    margin-bottom: 20px;
}

.container-card-2 {
    width: 100%;
    height: 1400px;
    flex-shrink: 0;
    border-radius: 24px;
    background: linear-gradient(131deg, rgba(255, 0, 0, 0.1) 0%, rgba(236, 254, 255, 0) 100%), linear-gradient(310deg, rgba(255, 0, 0, 0.2) 0%, rgba(236, 254, 255, 0) 100%), #FFF;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.02), 2px 3px 7px 0px rgba(0, 0, 0, 0.02), 7px 11px 13px 0px rgba(0, 0, 0, 0.02), 15px 24px 17px 0px rgba(0, 0, 0, 0.01), 27px 43px 20px 0px rgba(0, 0, 0, 0), 42px 67px 22px 0px rgba(0, 0, 0, 0);
    margin-bottom: 20px;
}


.container-card .container-text-web-design {
    max-width: 100%;
    height: 100%;
    padding: 3rem 3rem;
}

.container-card-2 .container-text-web-design {
    max-width: 100%;
    height: 100%;
    padding: 3rem 3rem;
}

.container-text-web-design .text-heading {
    color: #004A75;
    font-family: var(--figtree);
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%; 
    padding-bottom: 1rem;
}

.container-text-web-design .description-web-design {
    padding-bottom: 3rem;
}

/* Card Web UIX Start */

.container-text-web-design .card-uix-1 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/mockup\ porto.png) center / cover no-repeat;
}

.container-text-web-design .card-uix-2 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/foodwtc.png) center / cover no-repeat;
}

.container-text-web-design .card-uix-3 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/web-wtc-food.png) center / cover no-repeat;
}

.container-text-web-design .card-uix-4 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/WTCHOTEL.png) center / cover no-repeat;
}

.container-text-web-design .card-uix-5 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/Web\ Hubaidi.png) center / cover no-repeat;
}

.container-text-web-design .card-uix-6 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/Frelancer.png) center / cover no-repeat;
}

.container-text-web-design .card-uix-7 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/LoginPage.png) center / cover no-repeat;
}

.container-text-web-design .card-uix-8 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/DESINT.png) center / cover no-repeat;
}

.container-text-web-design .card-uix-9 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/WatchAnime.png) center / cover no-repeat;
}

/* Card Web UIX End */

/* Card Web Design Start */

.container-text-web-design .card-web-1 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/mockup\ porto.png) center / cover no-repeat;
}

.container-text-web-design .card-web-2 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/commerce.png) center / cover no-repeat;
}

.container-text-web-design .card-web-3 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/web-wtc-food.png) center / cover no-repeat;
}

.container-text-web-design .card-web-4 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/Web\ Hubaidi.png) center / cover no-repeat;
}

.container-text-web-design .card-web-5 {
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 22px;
    background: url(assets/WTCHOTEL.png) center / cover no-repeat;
}











































/* Card Web Design End */

.intro-web-design span {
    color: #000;
    font-family: var(--figtree);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.container-text-web-design .card-project {
    display: flex;
}

.container-text-web-design .desc {
    padding-top: 5rem;
    color: #000;
    font-family: Figtree;
    font-style: normal;
    font-weight: 400;
    line-height: 225.5%; 
}

.container-text-web-design .button-figma  {
    position: relative;
    margin: 3rem 0;
    display: flex;
    width: 300px;
    height: 120px;
    padding: 23px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: radial-gradient(1121.67% 128.41% at 2.02% 94.57%, rgba(34, 211, 238, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), #123E4F;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 1px 1px 4px 0px rgba(0, 0, 0, 0.10), 6px 4px 7px 0px rgba(0, 0, 0, 0.09), 13px 10px 9px 0px rgba(0, 0, 0, 0.05), 22px 17px 11px 0px rgba(0, 0, 0, 0.01), 35px 26px 12px 0px rgba(0, 0, 0, 0.00);
}

.container-text-web-design .button-figma .elipse {
    position: relative;
    display: flex;
    gap: 100px;
}

.container-text-web-design .button-figma .elipse img {
    position: absolute;
    width: 17px;
    height: 17px;
}

.container-text-web-design .elipse:before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #40F4B2;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
}

.container-text-web-design .button-figma .elipse div {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: #164E63;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 1px 1px 2px 0px rgba(0, 0, 0, 0.10), 3px 3px 4px 0px rgba(0, 0, 0, 0.09), 6px 6px 5px 0px rgba(0, 0, 0, 0.05), 10px 11px 6px 0px rgba(0, 0, 0, 0.01), 16px 17px 7px 0px rgba(0, 0, 0, 0.00);
}

.container-text-web-design .button-figma p {
    color: #40F4B2;
    font-family: Figtree;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
    letter-spacing: -0.48px;
}

.container-text-web-design .button-figma span {
    color: #F0F9FF;
    font-family: Figtree;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.12px;
    margin-left: -15px;
    position: relative;
    z-index: 1;
}

.container-text-web-design .button-figma svg {
    width: 198px;
    height: 18px;
    margin-top: -18px;
    flex-shrink: 0;
    margin-left: -15px;
    fill: linear-gradient(90deg, rgba(12, 74, 110, 0.40) 0%, rgba(12, 74, 110, 0.00) 100%), radial-gradient(133.33% 133.33% at 50% -33.33%, rgba(12, 74, 110, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), rgba(103, 232, 249, 0.80);
    opacity: 0.6000000238418579;
}

.container-text-web-design a {
    text-decoration: none;
}

.container-text-web-design .links-project {
    display: inline-flex;
    align-items: center;
    gap: 42px;
}

.container-text-web-design .links-project a {
    text-decoration: none;
    color: #000;
    font-family: Figtree;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
    letter-spacing: -0.64px;
}

.container-text-web-design .links-project .github {
    line-height: 30px;
}

.container-text-web-design .links-project .vidio {
    display: flex;
    gap: 20px;
}

.container-text-web-design .links-project .vidio .svg-border {
    display: flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1.5px solid rgba(100, 116, 139, 0.50);
}

.container-text-web-design .technology-use {
    padding-top: 5rem;
}

.container-text-web-design .technology-use .svg-icons {
    padding-top: 2rem;
    gap: 100px;
}
.container-text-web-design .technology-use .svg-icons img {
    /* padding-top: 2rem; */
    /* gap: 100px; */
    margin-right: 30px;
}

.container-text-web-design .technology-use .svg-icons .github-ml {
    margin-right: 30px;
}

.container-text-web-design .technology-use h3 {
    color: rgb(0, 0, 0);
    font-family: var(--figtree);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

/* Content Third Start */
.container-third {
    max-width: 100%;
    height: 1300px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(5, 31, 46, 0.53) 0%, rgba(0, 0, 0, 0.00) 100%), #091F2A;
    background-image: url(/src/assets/Union.png);
    background-size: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.container-third .header-text-third {
    width: 100%;
    height: 215px;
    flex-shrink: 0;
    display: grid;
    justify-content: center;
    gap: 2rem;
}

.container-third .header-text-third h1 {
    color:#ECFEFF;
    font-family: Figtree;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; 
    letter-spacing: -1.12px;
    display: flex;
    justify-content: center;
}

.container-third .header-text-third p {
    width: 721px;
    color:#BAE6FD;
    text-align: center;
    font-family: Figtree;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.container-third svg {
    width: 130px;
    height: 250px;
    flex-shrink: 0;
}

/* .container-third .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */

.container-third .card-experience {
    width: 84%;
    height: 690px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(139deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #091F2A;
    border: 1px solid #87CEFA;
    box-shadow: 10px 10px 10px #87CEFA;
}

.container-third .container-card-colum {
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.card-experience img {
    height: 90%;
    margin: 5% 0;
}

.card-experience .gdsc-content {
    display: flex;
    gap: 20px;
}

.card-experience .gdsc-content .img-logo img {
    width: 60px;
    height: 30px;
}

.card-experience .gdsc-content .gdsc-name {
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
    display: grid;
    gap: 0.2rem;
}

.card-experience .gdsc-content .gdsc-name  h3 {
    font-size: 20px;
    color: #ECFEFF;
}

.card-experience .gdsc-content .gdsc-name p {
    color: rgba(47, 165, 182, 1);
    font-size: 17px;
}

.card-experience .partisipasi {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-experience .partisipasi h4 {
    color: #7DD3FC;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.card-experience .partisipasi p {
    width: 560px;
    color: #fff;
    line-height: 140%;
    font-weight: 500;
    font-size: 15px;
}

.card-experience .respon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-experience .respon h4 {
    color: #7DD3FC;
    font-style: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

.card-experience .respon svg {
    width: 19.584px;
    height: 13.439px;
    transform: rotate(-15deg);
}

.card-experience .respon ul {
    width: 100%;
    display: grid;
    gap: 10px;
    padding: 0 20px;
}

.card-experience .respon ul li {
    color: #CEF;
    font-style: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.line {
    position: absolute;
    width: 100%;
    height: 162px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #091F2A 0%, rgba(9, 31, 42, 0.00) 100%);
}

.container-four {
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    background: radial-gradient(27.10% 56.72% at 3.12% 97.15%, rgba(159, 18, 57, 0.20) 0%, rgba(82, 10, 29, 0.00) 100%), #280B14;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-four .container-card-experience {
    position: absolute;
    margin-top: -20px;
    width: 84%;
    height: 595px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(134deg, #3D0D1B 0%, rgba(61, 13, 27, 0.00) 100%), #280B14;
    border: 1px solid tomato;
    box-shadow: 10px 10px 10px tomato;
}

/* Logo Netcom */
.container-four .container-card-experience .netcom-logo img {
    width: 70px;
    height: 60px;
}

.container-four .container-card-experience {
    padding: 50px 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.netcom {
    display: flex;
    gap: 20px;
}

.container-four .container-card-experience .netcom-name {
    padding: 5px 0;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; 
}

.container-four .container-card-experience .netcom-name h3 {
    color: #FFF;
    font-style: 20px;
}

.container-four .container-card-experience .netcom-name p {
    font-style: 17px;
    color: #FDA4AF;
}

.container-four .container-card-experience .partisipasi-netcom {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.container-four .container-card-experience .partisipasi-netcom h4 {
    color: #FDA4AF;
    font-family: Figtree;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; 
}

.container-four .container-card-experience .partisipasi-netcom p {
    color: #FFF;
    font-family: Figtree;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    width: 560px;
}

.container-four .container-card-experience .respon-netcom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-four .container-card-experience .respon-netcom svg {
    width: 19.584px;
    height: 13.439px;
    transform: rotate(-15deg);
}

.container-four .container-card-experience .respon-netcom h4 {
    color: #FDA4AF;
}

.container-four .container-card-experience .respon-netcom ul {
    display: grid;
    gap: 10px;
    padding: 0 20px;
}

.container-four .container-card-experience .respon-netcom ul li {
    color: #FFF1F2;
    font-style: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}


























/* Content Third End*/

/* Responsive Handphone Start */
@media (min-width: 320px) and (max-width: 767px){

    .hero-text {
        max-width: 100%;
        max-height: 100%;
        background-size: 400%;
        
    }

    .container-hero {
        padding: 100px 20px;
    }

    .user-hero {
        font-size: 35px;
    }

    .hero-description {
        font-size: 50px;
        max-width: 100%;
        line-height: 45px;
        height: 260px;
    }

    .gelombang {
        display: none;
        width: 280px;
        margin-left: 5px;
    }

    .rectangle {
        margin: -90px 10px 0 -138px;
        height: 47px;
        width: 138px;
    }

    .hero-text .experience {
        margin: -60px 20px;
        font-size: 20px;
    }

    .project {
        width: 100%;
        padding: 0 20px;
        font-size: 31px;
        font-weight: 800;
    }

    .paragraf-project {
        padding-top: 20px;
        font-size: 20px;
        width: 100%;
        padding: 20px 20px 40px;
    }

    .container-2 {
        padding: 130px 0 0px;
    }

    .container-card {
        border-radius: 0;
        height: 1585px;
        margin-bottom: 0;
    }

    .container-card-2 {
        border-radius: 0;
        height: 1585px;
        margin-bottom: 0;
    }
    
    .container-card .container-text-web-design {
        padding: 3rem 1.5rem;
    }

    .container-card-2 .container-text-web-design {
        padding: 3rem 1.5rem;
    }

    .container-text-web-design .text-heading {
        font-size: 35px;
    }

    .description-web-design {
        font-size: 18px;
    }

    .container-text-web-design .desc {
        padding-top: 3rem;
        font-size: 18px;
        line-height: 180.5%;
    }

    .container-text-web-design .button-figma {
        width: 100%;
    }

    .container-text-web-design .links-project {
        gap: 20px;
    }

    .container-text-web-design .links-project .vidio {
        gap: 8px;
        
    }

    .container-text-web-design .links-project .vidio .svg-border {
        height: 50px;
        
    }

    .container-third {
        height: 1800px;
        background-size: 200%;
    }
    
    .container-third .header-text-third {
        gap: 1rem;
    }

    .container-third .header-text-third h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .container-third .header-text-third p {
        font-size: 18px;
        width: 100%;
        padding: 0 20px;
    }

    .container-third svg {
        height: 100px;
    }

    .container-third .card-experience {
        width: 90%;
        height: 1350px;
        box-shadow: none;
    }


    .container-third .container-card-colum {
        padding: 20px 20px;
    }

    .card-experience img {
        margin: 20%;
    }
    
    .card-experience .gdsc-content .gdsc-name h3 {
        font-size: 20px;
        line-height: 120%;
    }

    .card-experience .partisipasi p {
        width: 100%;
    }


    .line {
        height: 200px;
    }

    .container-four {
        height: 1100px;
    }

    .container-four .container-card-experience {
        margin-top: -20px;
        box-shadow: none;
        width: 90%;
        height: 1000px;
        padding: 20px 20px;
    }

    .container-four .container-card-experience .partisipasi-netcom p {
        width: 100%;
    }

















}
/* Responsive Handphone End */