@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--figtree);
}

.main-hero {
    background: radial-gradient(90.87% 36.33% at -2.85% -2.27%, rgba(103, 232, 249, 0.3) 0%, rgba(6, 182, 212, 0) 100%),
        linear-gradient(180deg, #C7FCFF 0%, #C7FCFF 70%, rgba(236, 254, 255, 0) 100%);
    background-position: center bottom;
    position: relative;
    z-index: 2;
}


.hero-text {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/Vector.png');
    background-size: 85%;
}

.container-hero {
    padding: 211px 340px 100px 340px;
}

.user-hero {
    font-size: 64px;
    font-weight: 700;
    color: var(--primary-color);
    font-style: normal;
    letter-spacing: -0.04em;
    padding-bottom: 5px;
}

.hero-description {
    top: 221px;
    left: 221px;
    width: 1240px;
    height: 280px;
    font-style: normal;
    font-size: 94px;
    line-height: 100px;
    letter-spacing: -0.05em;
    font-weight: 700;
    color: #294049;
}

.gelombang {
    margin-left: 140px;
}

.rectangle {
    margin: 76px 209px;
    position: absolute;
    z-index: -1;
    width: 262px;
    height: 63px;
    left: 187.7px;
    top: 236.02px;
    background: linear-gradient(85.27deg, #57E9F9 0.78%, rgba(165, 243, 252, 1) 123.9%);
    transform: rotate(-2.19deg);
}

.hero-text .experience {
    margin-left: 340px;
    font-size: 36px;
    font-weight: 400;
    color: var(--primary-color);
}

.project {
    font-size: 64px;
    color: var(--three-color);
}

.paragraf-project {
    padding-top: 50px;
    font-size: 24px;
}


/* Responsive Handphone Start */
@media (min-width: 320px) and (max-width: 767px){

    .hero-text {
        max-width: 100%;
        max-height: 100%;
        background-size: 400%;
    }

    .container-hero {
        padding: 100px 40px;
    }

    .user-hero {
        font-size: 35px;
    }

    .hero-description {
        font-size: 50px;
        max-width: 100%;
        line-height: 45px;
        height: 260px;
    }

    .gelombang {
        width: 280px;
        margin-left: 5px;
    }

    .rectangle {
        margin: -90px 10px 0 -115px;
        height: 47px;
        width: 138px;
    }

    .hero-text .experience {
        margin: -60px 40px;
        font-size: 20px;
    }

    .project {
        font-size: 28px;
    }

    .paragraf-project {
        padding-top: 20px;
        font-size: 18px;
    }
}
/* Responsive Handphone End */

/* Resoponsive Laptop Start */
@media (min-width: 1040px) and (max-width: 1920px) {
    .container-hero {
        padding: 211px 240px 100px 240px;
        max-width: 100%;
    }

    .rectangle {
        left: 89px;
        top: 240px;
    }

    .hero-text .experience {
        margin-left: 240px;
        max-width: 100%;
    }

    .web-design {
        margin: 0 65px 0 65px;
        position: absolute;
        width: 1084px;
        height: 1813px;
        left: calc(50% - 1184px/2);
        top: 1302px;
        background: linear-gradient(146.63deg, rgba(2, 132, 199, 0.1) 1.32%, rgba(236, 254, 255, 0) 66%), linear-gradient(325.76deg, rgba(2, 132, 199, 0.2) 3.68%, rgba(236, 254, 255, 0) 66.89%), #FFFFFF;
box-shadow: 15px 24px 17px rgba(0, 0, 0, 0.01), 7px 11px 13px rgba(0, 0, 0, 0.02), 2px 3px 7px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(0, 0, 0, 0.02);
        border-radius: 24px;
    }

    .container-text-web-design {
        position: absolute;
        left: 4%;
        right: 9.5%;
        top: 2.41%;
        font-style: normal;
    }

    .text-heading {
        bottom: 7.41%;
        font-weight: 800;
        font-size: 36px;
        color: #004A75;
    }

    .description-web-design {
        padding-top: 50px;
        width: 850px;
        height: 144px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
    }

    .intro-web-design {
        font-weight: 700;
    }

    .container-project {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
        width: 1130px;
        height: 494px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
}
/* Responsive Laptop End */