@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--figtree);
}

.main-hero {
    background: radial-gradient(90.87% 36.33% at -2.85% -2.27%, rgba(103, 232, 249, 0.3) 0%, rgba(6, 182, 212, 0) 100%),
        linear-gradient(180deg, #C7FCFF 0%, #C7FCFF 70%, rgba(236, 254, 255, 0) 100%);
    background-position: center bottom;
    position: relative;
    z-index: 2;
}




.hero-text {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/src/assets/Vector.png');
    background-size: 85%;
}

.container-hero {
    padding: 211px 340px 100px;
}

.user-hero {
    font-size: 64px;
    font-weight: 700;
    color: var(--primary-color);
    font-style: normal;
    letter-spacing: -0.04em;
    padding-bottom: 5px;
}

.hero-description {
    top: 221px;
    left: 221px;
    width: 1240px;
    height: 280px;
    font-style: normal;
    font-size: 94px;
    line-height: 100px;
    letter-spacing: -0.05em;
    font-weight: 700;
    color: #294049;
}

.gelombang {
    margin-left: 140px;
}

.rectangle {
    margin: 76px 209px;
    position: absolute;
    z-index: -1;
    width: 262px;
    height: 63px;
    left: 187.7px;
    top: 236.02px;
    background: linear-gradient(85.27deg, #57E9F9 0.78%, rgba(165, 243, 252, 1) 123.9%);
    transform: rotate(-2.19deg);
}

.hero-text .experience {
    margin-left: 340px;
    font-size: 36px;
    font-weight: 400;
    color: var(--primary-color);
}

.project {
    font-size: 64px;
    color: var(--three-color);
}

.paragraf-project {
    padding-top: 50px;
    font-size: 24px;
}